* {
    padding:0;
    margin:0;
}

body {
    background-color:rgb(225, 225, 225);
    width:100%;
    height:100%;
}

.title-face {
    background-color:#3b5998;
    color:white;
    height:80px;
    position: relative;
}

.facebook {
    position:relative;
    left:200px; 
    top:20px;
    font-size:30pt;
    color:white;
}

.face img{
    width:800px;
    margin:-9%;
    position: relative;
    right:23px;
}

#sign_in {
    position:relative;
    float:right;
    right:470px;
    bottom:30px;
    width:140px;
    outline: 0;
}

.emailtele {
    text-align:right;
    position:relative;
    right:500px;
    bottom:35px;
}

.senha {
    text-align:right;
    position:relative;
    bottom:52px;
    right:273px;
}

#sing_in_senha {
    position:relative;
    float:right;
    left:-170px;
    bottom:48px;
    width:140px;
    outline: 0;
}

#botao {
    float:right;
    position:relative;
    left:35px;
    bottom:48px;
    background-color:#5b7bc0;
    border:1px solid #999;
    color:white;
    width:45px;
    height:20px;
    font-family:Arial, Helvetica, sans-serif;
    outline: 0;
    border-color:#8b9dc3 #2f477a #29447e #1a356e;
    box-shadow:0 1px 0 rgba(0,0,0, .1);
    font-weight: bold;
    cursor: pointer;
}

#botao:hover{
    background-color: #3b5998;
}
.esqueceu {
    position:relative;
    float:right;
    bottom:40px;
    opacity:0.6;
}

a {
    text-decoration:none;
    color:white;
}

#face_texto {
    color:#1D3C78;
    font-size:20px;
    font-family:arial;
    margin:3%;
    position: relative;
    left:160px;
    width:500px;
}

.going_down img{
   position:relative;
   left:203px;
   bottom:40px;
}

h1 {
    float:right;
    position: relative;
    bottom:320px;
    font-family:arial;
    font-size:27pt;
    right:240pt;
}

.rapido {
    float:right;
    font-size:20px;
    position:relative;
    bottom:270px;
    right:198px;
}

.esqueceu:hover {
    text-decoration:underline;
}

#nome {
    position:relative;
    float:right;
    bottom:232px;
    width:160pt;
    height:30px;
    border-radius:5px;
    border:2px groove lightblue;
    font-size:18px;
    right:5px;
    outline: 0;
}

#sobrenome {
    position:relative;
    float:right;
    left:324pt;
    bottom:174pt;
    width:155pt;
    height:30px;
    border-radius:5px;
    border:2px groove lightblue;
    font-size:18px;
    outline: 0;
}

#email {
    position:relative;
    float:right;
    left:482pt;
    bottom:190px;
    width:433px;
    border-radius:5px;
    height:30px;
    border:2px groove lightblue;
    font-size:18px;
    outline: 0;
}

#senha {
    position:relative;
    float:right;
    right:23px;
    bottom:136pt;
    width:433px;
    left:90px;
    border-radius:5px;
    font-size:18px;
    height:30px;
    border:2px groove lightblue;
    outline: 0;
}

.data-title {
    border:none;
    text-align:left;;
    width:300px;
    position:relative;
    float:right;
    left:390px;
    bottom:92pt;
    font-size:21px;
    color:#636e72;
}

.sel {
    float:right;
    position:absolute;
    left:940px;     
    bottom:230px;
    width:200px;
    margin:-15%;
}

#date-birth {
    width:40px;
    height:25px;
    outline: 0;
}

#month-birth {
    height:25px;
    width:38%;
    outline: 0;
}

#year-birth {
    height:25px;
    outline: 0;
}

.gender {
    float:right;
    position:relative;
    left:401px;
    margin:-4%;
    color:#636e72;
    font-family:Arial, Helvetica, sans-serif;
    font-size:19px;
}

.gender_type {
    float:right;
    position:relative;
    left:527px;
    margin:-1%;
    bottom:10px;
    font-size:20px;
}

#text_write {
    float:right;
    position:relative;
    left:455px;
    bottom:10px;
}

.sign_button {
    background:linear-gradient(#67ae55,#578843);
    width:16%;
    height:40px;
    border-radius:5px;
    color:white;
    font-size:20px;
    border:none;
    margin:3%;
    float:right;
    position:relative;
    bottom:5px;
    right:335px;
    outline: 0;
    cursor: pointer;
}

#blue-TEXT {
    color:#3b5998;
    text-align:right;
    float:right;
    margin:7%;
    position:relative;
    right:116px;
    top:10px;
}

#WHITE-TEXT {
    float:right;
    margin:8%;
    position:relative;
    left:290pt;
    bottom:4px;
}

form {
    position: relative;
    left:24px;
    width:1321px;
}

.sms {
    position:relative;
    right:-280px;
    font-size:13px;
    color: #636e72;
    top:25px;
}

.sms a {
    color: #3b5998;
}

.sms a:hover {
    text-decoration:underline;
}

#person {
    cursor: pointer;
}

.go_right {
    position: relative;
    bottom:15px;
}