* {
    padding:0;
    margin:0;
}

body {
    background: linear-gradient(white, #D3D8E8);
    width:100%;
    height:100%;
}

.title-face {
    background-color:#3b5998;
    color:white;
    height:80px;
    position: relative;
}

.facebook {
    position:relative;
    left:200px; 
    top:20px;
    font-size:30pt;
    color:white;
}

.face img{
    width:850px;
    margin:-9%;
    position: relative;
    right:43px;
    bottom:5px;
}

#sign_in {
    position:relative;
    float:right;
    right:470px;
    bottom:30px;
    width:140px;
    outline: 0;
}

.emailtele {
    text-align:right;
    position:relative;
    right:500px;
    bottom:35px;
}

.senha {
    text-align:right;
    position:relative;
    bottom:52px;
    right:273px;
}

#sing_in_senha {
    position:relative;
    float:right;
    left:-170px;
    bottom:48px;
    width:140px;
    outline: 0;
}

#botao {
    float:right;
    position:relative;
    left:35px;
    bottom:48px;
    background-color:#5b7bc0;
    border:1px solid #999;
    color:white;
    width:45px;
    height:20px;
    font-family:Arial, Helvetica, sans-serif;
    outline: 0;
    border-color:#8b9dc3 #2f477a #29447e #1a356e;
    box-shadow:0 1px 0 rgba(0,0,0, .1);
    font-weight: bold;
    cursor: pointer;
}

#botao:hover{
    background-color: #3b5998;
}

.esqueceu {
    position:relative;
    float:right;
    bottom:25px;
    opacity:0.6;
}

a {
    text-decoration:none;
    color:white;
}

#face_texto {
    color:#1D3C78;
    font-size:20px;
    font-family:arial;
    margin:3%;
    position: relative;
    left:160px;
    width:500px;
}

.going_down img{
   position:relative;
   left:203px;
   bottom:40px;
}

h1 {
    float:right;
    position: relative;
    bottom:320px;
    font-family:arial;
    font-size:27pt;
    right:240pt;
}

.rapido {
    float:right;
    font-size:20px;
    position:relative;
    bottom:270px;
    right:198px;
}

.esqueceu:hover {
    text-decoration:underline;
}

#nome {
    position:relative;
    float:right;
    bottom:232px;
    width:160pt;
    height:30px;
    border-radius:5px;
    border:2px groove lightblue;
    font-size:18px;
    right:5px;
    outline: 0;
}

#sobrenome {
    position:relative;
    float:right;
    left:324pt;
    bottom:174pt;
    width:155pt;
    height:30px;
    border-radius:5px;
    border:2px groove lightblue;
    font-size:18px;
    outline: 0;
}

#email {
    position:relative;
    float:right;
    left:482pt;
    bottom:190px;
    width:433px;
    border-radius:5px;
    height:30px;
    border:2px groove lightblue;
    font-size:18px;
    outline: 0;
}

#senha {
    position:relative;
    float:right;
    right:23px;
    bottom:136pt;
    width:433px;
    left:90px;
    border-radius:5px;
    font-size:18px;
    height:30px;
    border:2px groove lightblue;
    outline: 0;
}

.data-title {
    border:none;
    text-align:left;;
    width:300px;
    position:relative;
    float:right;
    left:390px;
    bottom:92pt;
    font-size:21px;
    color:#636e72;
}

.sel {
    float:right;
    position:absolute;
    left:940px;     
    bottom:310px;
    width:200px;
    margin:-15%;
}

#date-birth {
    width:40px;
    height:25px;
    outline: 0;
}

#month-birth {
    height:25px;
    width:38%;
    outline: 0;
}

#year-birth {
    height:25px;
    outline: 0;
}

.gender {
    float:right;
    position:relative;
    left:401px;
    margin:-4%;
    color:#636e72;
    font-family:Arial, Helvetica, sans-serif;
    font-size:19px;
}

#gender_type {
    float:right;
    position:relative;
    left:527px;
    margin:-1%;
    bottom:10px;
    font-size:20px;
}

#text_write {
    float:right;
    position:relative;
    left:455px;
    bottom:10px;
}

.sign_button {
    background:linear-gradient(#67ae55,#578843);
    width:16%;
    height:40px;
    border-radius:5px;
    color:white;
    font-size:20px;
    border:none;
    margin:3%;
    float:right;
    position:relative;
    bottom:5px;
    right:335px;
    outline: 0;
    cursor: pointer;
}

.sign_button:hover {
    background: linear-gradient(#79bc64, #578843);
} 

#blue-TEXT {
    color:#3b5998;
    text-align:right;
    float:right;
    margin:7%;
    position:relative;
    right:116px;
    top:10px;
}

#blue-TEXT:hover {
    text-decoration: underline;    
}

#WHITE-TEXT {
    float:right;
    margin:8%;
    position:relative;
    left:290pt;
    bottom:4px;
}

form {
    position: relative;
    left:24px;
    width:1321px;
}

.sms {
    position:relative;
    right:-280px;
    font-size:13px;
    color: #636e72;
    top:25px;
}

.sms a {
    color: #3b5998;
}

.sms a:hover {
    text-decoration:underline;
}

#person {
    cursor: pointer;
}

#person2 {
    cursor: pointer;
}

.go_right {
    position: relative;
    bottom:30px;
}

.be_white {
    position: relative;
    top:95px;
    left:735px;
    width:400px;
    opacity:0.2;
    height:-1px;
}

.linguas {
    background-color: white;
    position: absolute;
    width: 1345px;
    height: 160px;
    bottom: -215px; 
}

li{
    display: inline-block;
    position: relative;
    top:20pt;
    font-size:11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 190px;
}

li a{
    color: #3b5998;
}

li a:hover {
    text-decoration: underline;
}

#space {
    position: relative;
    left: 8px;
}

#space2{
    position: relative;
    left: 16px;
}

#space3{
    position: relative;
    left: 24px;
}

#space4 {
    position: relative;
    left: 32px;
}

#space5 {
    position: relative;
    left: 39px;
    cursor: pointer;
}

#space6 {
    position: relative;
    left: 50px;
    cursor: pointer;
}

#space7 {
    position: relative;
    left: 62px;
}

#space8 {
    position: relative;
    left: 68px;
}

hr {
    position: relative;
    top:13px;
    left:190px;
    width:1000px;
    opacity:0.4;
    height:-1px;
}

button {
    font-size:17px;
    background-color:white;
    width:30px;
    border:1px groove #f1f2f6;
    float: right;
    margin-right: 520px;
    margin-top:7px;
    height: 22px;
    outline: 0;
}

button:hover {
    background: linear-gradient(#f5f6f7, #ccd0d5);
}

button img {
    width:11px;
    height:11px;
}

#some_links {
    margin: 0 10px;
    font-size: 11px;
    margin-left: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#some_links2 {
    margin: 0px 9px;
    margin-left: -1px;
    padding:3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#some_links3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 6px;
    margin-left: 1px; 
    padding: 1px;
}

.date_of_the_year {
    color: #737373;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    margin-left: 193px;
}

/* -- Modal -- */

.bg_modal {
    background-color: rgba(0,0,0,0.7);
    width:100%;
    height: 135%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    display: none;
}

.modal_body {
    width: 780px;
    height: 760px;
    background-color: white;
    margin-top: 40px;
}

.selecione {
    background-color: #3b5998;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 33px;
    font-size: 15px;
}

#title_idioma_fix {
    position: relative;
    left: 13px;
    top: 7px;
}

.idi {
    position:absolute;
    left: 294px;
    bottom: 740px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #737373;
}

.idi_sugeridos li {
    color: #3b5998;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
}

.idi_sugeridos a {
    position: relative;
    bottom: 12px;
    margin: 0 20px;
    right: 30px;
    cursor: pointer;
}

.this_is_dashed {
    border: 1px dashed #737373; 
    margin-top: 55px;
}

.idi1 {
    margin-left:-180px;
    position: relative;
    bottom: 15px;
}

.idi1 li {
    display: inherit;
    padding: 6px;
}

.idi1 li a {
    color: #737373;
}

.black-color {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;
}

.idi2 {
    margin-top: -168px;
}

.idi2 li{
    display: inherit;
    margin-top: 10px; 
    font-size: 11px;
}

.idi3 {
    margin-left: 170px;
    margin-top: -551px;
}

.idi3 li{
    display: inherit;
    margin-top: 10px;
    font-size: 11px; 
}

.idi4 {
    margin-left: 320px;
    margin-top: -551px;
}

.idi4 li {
    display: inherit;
    margin-top: 10px;
    font-size: 11px;
}

.idi5 {
    margin-left: 450px;
    margin-top: -551px;
}

.idi5 li{
    display: inherit;
    margin-top: 10px;
    font-size: 11px;
}

.close_space {
    border: 2px solid #ccc;
    height: 50px;
    margin-top: 91px;
    background-color: #f2f2f2;
}

.close_modal {
    float: right;
    width: 53px;
    height: 30px;
    position: relative;
    right: 7px;
    top: 10px;
    background-color: #4267b2;
    color: white;
    border: #4267b2;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
}

.close_modal:hover {
    border: #ccd0d5;
    background-color: #385898;
}